<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-md-6 grid-item">
<div class="card">
    <a href="{{ post.url | absolute_url }}">
        {% if post.image %} <img class="img-fluid" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
        <div class="metafooter">
            <div class="wrapfooter">
                <span class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    <h4 class="card-text">{{ post.excerpt | strip_html  }}</h4>
    </div>
</div>
</div>
<!-- end post -->